body {
  width: 800px;
  min-height: 600px;
  margin: auto;
  padding: 7px;
}

header {
  background-image: url(uppg3_bilder/header.jpg);
  height: 80px;
}

.menu {
  background-color: darkred;
  height: 40px;
}

.menu img {
  width: 100px;
  height: 20px;
  padding-top: 10px;
  margin-left: 22px;
  margin-right: 22px;
}

#img1 {
  padding-left: 40px;
}

.santa {
  background: 
    -webkit-linear-gradient(
      rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)
    ),
    url(uppg3_bilder/tomte.jpg);
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)
    ),
    url(uppg3_bilder/tomte.jpg);
  height: 600px;
}

.santa p {
padding: 21px;
margin: 0;
}
